#navbar-container {
    background-color: #6F2DBD;
}
#footer-container {
    background-color: #4F4789;
}

img.img-display {
    max-height: 60vh;
    object-fit: scale-down; 
    object-position: center;
    box-shadow: none;
}